name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Docker
      uses: docker/setup-buildx-action@v3

    - name: Install kubectl
      uses: azure/setup-kubectl@v3

    - name: Install Kind
      uses: helm/kind-action@v1.9.0

    - name: Build Docker Images
      run: |
        docker build -t frontend ./frontend
        docker build -t backend ./backend

    - name: Load images into Kind
      run: |
        kind load docker-image frontend
        kind load docker-image backend

    - name: Install Helm
      uses: azure/setup-helm@v4

    - name: Deploy with Helm
      run: |
        helm install mongodb charts/mongodb
        helm install backend charts/backend
        helm install frontend charts/frontend
